/*
 #1e1e1e - backgr
 shade(#2f323a, 0.75); - else
 */

/*весь бек на окна*/
window {
  background: linear-gradient(170deg, #1e1e1e, #0a0a0a);
}

button {
    background: shade(#2f323a, 0.75);
    color: black;
    box-shadow: 2px 2px 2px black;
    border-color: shade(#2f323a, 0.75);
}

scrollbar trough {
  background: shade(#2f323a, 0.75); /* Цвет фона полосы прокрутки */
}

scrollbar slider {
  background: shade(#2f323a, 0.75); /* Цвет полосы прокрутки */
  border: 1px solid black; /* Цвет обводки скроллбара */
  border-radius: 6px; /* Радиус скругления углов полосы прокрутки */
}

/*свитч в меню настроек темы*/
switch{
    color: shade(#2f323a, 0.75);
    background: shade(#2f323a, 0.75);
    border-color: shade(#2f323a, 0.75);
}

switch slider{
    background-color: #ff0000;
    border: 2px solid shade(#2f323a, 0.75);
    border-radius: 15px; /* Радиус скругления углов полосы прокрутки */
}


label {
    font-size: 13px;
    color: white;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.textview {
    font-size: 15px;
}
.text_entry {
    background: shade(#2f323a, 0.75);
    color: white;
    border-radius: 10px
}

/*тот же что и .text_entry*/
#box_sent_message {
    background: shade(#2f323a, 0.75);
    border-radius: 10px
}
#sent_message text {
    background: shade(#2f323a, 0.75);
    color: white;
}
#sent_message {
    font-size: 15px;
}

#sent_message_inactive text {
    background: shade(#2f323a, 0.75);
    color: grey;
}
#sent_message_inactive {
    font-size: 15px;
}

.message-box {
    background: linear-gradient(170deg, #1e1e1e, #0a0a0a);
    color: white;
    border-radius: 10px
}

#button_add_user{
    border-radius: 10px
}
#button_user_name{
    border: none;
}
#button_user_name:active{
    background: shade(#2f323a, 0.75);
}
#button_user_name:hover{
     background: shade(#2f323a, 0.75);
}
#box_name_close {
    background: shade(#2f323a, 0.75);
    font-size: 16px;
}
#box_send_photo {
    color: black;
    border-radius: 10px
}
#edit_msg {
    
}

/* Стили для текстовых полей в диалоговом окне */
.file_inspector {
  background: shade(#2f323a, 0.75);
}

.file_inspector list {
  background: shade(#2f323a, 0.75);
}
.file_inspector scale {
  margin-top: 5px;
  margin-bottom: 5px;
}

.file_inspector {
  background: shade(#2f323a, 0.75);
}

.file_inspector .view {
    color: white;
  background: shade(#2f323a, 0.75);
}

.file_inspector .view:selected {
  background: linear-gradient(170deg, #1e1e1e, #0a0a0a);
  color: white;
}

.menu {
    background: linear-gradient(170deg, #1e1e1e, #0a0a0a);
    color: white;
}

#user_name_chat_menu {
    font-size: 30px;
}
